<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=DESKTOP-PNDPM1U\SQLEXPRESS;Initial Catalog=ServiceSystemDB;Persist Security Info=True;User ID=admin;Password=yM2c$!T%qypzrJaL;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>